@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

input,
textarea,
button {
  outline: none;
  background-color: transparent;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #287bff;
}

body::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 20px;
  border: 3px solid #287bff;
}

div::-webkit-scrollbar,
main::-webkit-scrollbar {
  width: 12px;
  border-radius: 8px;
}

div::-webkit-scrollbar-track,
main::-webkit-scrollbar-track {
  background: #287bff;
}

div::-webkit-scrollbar-thumb,
main::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 20px;
  border: 3px solid #287bff;
}
