@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

input,
textarea,
button {
  outline: none;
  background-color: transparent;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #287bff;
}

body::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 20px;
  border: 3px solid #287bff;
}

div::-webkit-scrollbar,
main::-webkit-scrollbar {
  width: 12px;
  border-radius: 8px;
}

div::-webkit-scrollbar-track,
main::-webkit-scrollbar-track {
  background: #287bff;
}

div::-webkit-scrollbar-thumb,
main::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 20px;
  border: 3px solid #287bff;
}


.Toastify__toast-theme--dark {
  background-color: #374151;
  color: #e5e7eb;
}

.Toastify__progress-bar-theme--dark {
  background-color: #3b82f6;
}

.Toastify__toast-theme--light {
  background-color: #e5e7eb;
  color: #1f2937;
}

.Toastify__progress-bar-theme--light {
  background-color: #1d4ed8;
}
